:root{
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: rgb(0, 5, 9);
  --clr-sg: rgb(32, 37, 49);
  --clr-1: hsl(142 90% 61%);
  --margin-width: 100px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Fira Sans', serif;
  
}